* {
    margin: 0;
    padding: 0;
}

html, body {
    box-sizing: border-box;
    background-color: #ffeead;
    height: 100%;
  }

  a {
      text-decoration: none;
  }
  
  .container > div:nth-child(1n) {
    background-color: #96ceb4;	
  }
  
  .container > div:nth-child(3n) {
    background-color: #88d8b0;
  }
  
  .container > div:nth-child(2n) {
    background-color: #ff6f69;
  }
  
  .container > div:nth-child(4n) {
    background-color: #ffcc5c;
  }

  .container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 160px 2fr 1fr;
    grid-template-rows: 60px 60px auto 80px;
    grid-template-areas: 
        "h h h"
        ". m ."
        ". c ."
        "f f f";
}

/* Header with searchbar */
.header {
    grid-area: h;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 160px 2fr 1fr;
    align-items: center;
}

#brand {
    width: 100px;
    justify-self: center;
}

.top-nav {
    justify-self: end;
    margin-right: 30px;
}

/* Navigation */
.menu {
    grid-area: m;
}

.menu li {
    display: inline-block;
}


/* Main content */
.content {
    grid-area: c;
}

.footer {
    grid-area: f;
}